$padding-top: 60px;
$bar-width: 40px;
$corner-radius: 10px;
$top-position: 20px;

.flowchart #wrapper, #wrapper:before, #wrapper:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flowchart #wrapper {
  position: relative;
  overflow-x: auto;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flowchart {
  .branch {
    position: relative;
    margin-left: 100px;
    padding-top: $padding-top;

    &:before {
      content: "";
      width: 30px;
      height: calc(#{$padding-top} - 15px);
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      border-radius: 0 0 0 $corner-radius;
      position: absolute;
      left: -70px;
      top: 37px;
    }
  }

  .entry {
    position: relative;
    min-height: 3em;

    &:before {
      content: "";
      height: 100%;
      border-left: 2px solid #000;
      position: absolute;
      left: calc(0px - #{$bar-width});
    }

    &:after {
      content: "";
      width: $bar-width;
      border-top: 2px solid #000;
      position: absolute;
      left: calc(0px - #{$bar-width});
      top: $top-position;
    }

    &:first-child:before {
      width: $corner-radius;
      height: calc(100% - #{$corner-radius});
      border-left: 2px solid #000;
      top: $top-position;
    }

    &:first-child:after {
      height: $corner-radius;
      border-top: none;
      border-bottom: 2px solid #000;
      margin-top: -8px;
    }

    &:last-child:before {
      width: $corner-radius;
      height: 25px;
      border-radius: 0 0 0 $corner-radius;
      border-left: 2px solid #000;
    }

    &:last-child:after {
      height: $corner-radius;
      border-top: none;
      border-bottom: 2px solid #000;
      border-radius: 0 0 0 $corner-radius;
      margin-top: -5px;
    }

    &.sole:before {
      display: none;
    }

    &.sole:after {
      border-radius: 0;
      margin-top: -8px;
    }
  }

  .entry-label {
    display: block;
    min-width: 150px;
    padding: 5px 10px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: $top-position;
    margin-top: -15px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: inherit;
  }
}
